html { 
    background: #08110F; 
    padding: 1rem; 
    color: #E1EEEB;
}

body { 
    font-family: 'Anton', sans-serif;
    max-width: 1170px; 
    margin: 0 auto; 
}

h1, h2, h3, h4, h5, h6 {  
    color: #37CFAF;
    padding:0; 
    margin: 0; 
}

h2 {
    font-size: 40px;
    margin-bottom: 58px;
}

h3 {
	font-size: 25px;
	margin-bottom: 28px;
}

a { 
    color: #37CFAF;
    text-decoration:none; 
}
a:active {
    color: #91D4C6;
}

a:hover {
	border-bottom: 1px solid #37CFAF;
}

.menu ul {
    background: #91d4c60d;
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 0.1em;
    border-radius: 1rem;
}

nav {  
    display: flex; 
    align-items: center; 
    padding: 0 0.5rem; 
}

nav h1, nav h2 { 
    flex: auto; 
    margin: 0; 
}
nav ul  { 
    display: flex; 
    list-style: none; 
    margin: 0; 
    padding: 0; 
}
nav ul li a, nav ul li span { 
    display: block; 
    padding: 0.5rem;
    font-size: 18px; 
}

.grid {
    display: grid;
    grid-template-columns: 700px 300px;
    align-items: center;
}

.face {
    border: solid 0.5em #287F6D; 
    border-radius: 2em;
}

.embed {
    padding-top: 2rem;
}

.container {
	width: 1170px;
	/*позиционирование по центру*/
	margin: 0 auto; 
	/* height: 562.33px; */
}
.content { 
    padding: 0 1rem 1rem; 
}
.content > header { 
    border-bottom: 1px solid #287F6D; 
    display: flex; 
    align-items: flex-end; 
}
.content > header h1 { 
    flex: auto; 
    margin: 1rem 0 0.25rem 0; 
}

.post {
    font-family: 'OCR A Std', monospace;
    background-color: #91d4c60d;
    border-radius: 1rem;
    margin-top: 20px;
    padding: 20px;
    position: relative;
    line-height: 1.7rem;
}

.post > header { 
    display: flex; 
    align-items: flex-end; 
    font-size: 0.85em; 
}
.post > header > div:first-of-type { 
    flex: auto; 
}
.post > header h1 { 
    font-size: 1.5em; 
    margin-bottom: 0; 
}
.post .date { 
    color: slategray; 
    font-style: italic;
    position: absolute;
    bottom: 0.5rem;
    right: 1rem; 

}
.post .body { 
    white-space: pre-line; 
}
.content:last-child { 
    margin-bottom: 0; 
}
.content form { 
    margin: 1em 0; 
    display: flex; 
    flex-direction: column; 
}
.content label { 
    font-weight: bold; 
    margin-bottom: 0.5em; 
}
.content input, .content textarea { 
    margin-bottom: 1em; 
}
.content textarea { 
    min-height: 12em; 
    resize: vertical; 
}