{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block content %}
{% for subj in subjects %}
<article class="post">
  <header>
    {% if not subj['link'] %}
    <a href={{ request.host_url }}{{ request.view_args['crs_id'] }}/{{ subj['id'] }}/>
      <h1>{{ subj['name'] }}</h1>
    </a>
    {% else %}
    <a href={{ subj['link'] }} target="_blank" rel="noopener noreferrer"/>
      <h1>{{ subj['name'] }}</h1>
    </a>
    {% endif %}
  </header>
</article>
{% endfor %}
{% endblock %}

